<footer>
  <div class="f-top">
    <div class="row">
      <div class="col-md-4">
        <div class="logo-f-sec">
          <a href="/index.html" class="btn">
            <img src="/src/img/SSLandscapeLogo.png" alt="" srcset="" />
          </a>
          <p class="short-dis">
            Student Square is a platform for educational counselling and
            career development for students.
          </p>
          <a href="/donation.html" class="btn becomeDonor">
            Become A Donor
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="menu-f-sec">
          <p class="m-f-head">Organization</p>
          <div class="f-menus">
            <div class="f-m-left">
              <a href="/about-us.html">About Us</a>
              <a href="/press.html">Press</a>
              <a href="/careers.html">Careers</a>
            </div>
            <div class="f-m-right">
              <a href="/terms-use.html">Terms Of Use</a>
              <a href="/privacy-policy.html">Privacy Policy</a>
              <a href="/refund-policy.html">Refund Policy</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-f-sec">
          <p class="contact-head">Contact Us At</p>
          <div class="c-f-top">
            <p>Call: <a href="tel:+8801711455858">01711455858</a> (9AM - 10PM)</p>
            <p>SMS: SSHelp to 01711455858</p>
            <p>
              Email:
              <a href="mailto:studentsquarebd@gmail.com"
                >studentsquarebd@gmail.com</a
              >
            </p>
          </div>
          <div class="c-f-bottom">
            <a target='_blank' href="https://web.facebook.com/studentsquare.org/about"><i class="fab fa-facebook-f"></i></a>
            <a target='_blank' href="https://youtube.com/@StudentSquare-fi3ez?si=58O494Tc8MZtL9Gq "><i class="fab fa-youtube"></i></a>
            <a target='_blank' href="https://www.instagram.com/studentsquarebd/"><i class="fab fa-instagram"></i></a>
            <a target='_blank' href="https://www.linkedin.com/company/82100919/admin/feed/posts/"><i class="fab fa-linkedin"></i></a>
            <a target='_blank' href="https://twitter.com/StudentsquareBD"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="f-bottom">
    <div class="row">
      <div class="col-md-4">
        <div class="get-app">
          <a href="#">
            <img src="/src/img/s-8/getAppStore.png" alt="" srcset="" />
          </a>
          <a href="#">
            <img src="/src/img/s-8/getGooglePlay.png" alt="" srcset="" />
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="designed-dev">
          <p>
            Designed & Developed By
            <a
              href="http://www.consoledge.rf.gd"
              target="_blank"
              rel="noopener noreferrer"
              class="text-warning"
              >ConsolEDGE</a
            >
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="copyright">
          <p>©2023, Student Square. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>





<div id="search-content" class="">
<div
  class="search-box d-flex flex-column justify-content-center align-items-center"
>
  <div class="search-input-box w-75">
    <div class="form-outline mb-4 main-input" data-mdb-input-init>
      <input
        type="search"
        class="form-control"
        id="datatable-search-input"
      />
      <label class="form-label" for="datatable-search-input"
        >Search</label
      >
    </div>
  </div>
  <div class="search-result w-100">
    <h4 class="s-r-heading">
      Search for <strong>"Lorem, ipsum dolor."</strong>
    </h4>
    <div class="s-r-content">
      <ul>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer"
            >Lorem, ipsum dolor.</a
          >
          <p class="s-r-short-dis">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Reprehenderit aspernatur beatae alias provident pariatur iusto
            quae vitae delectus, perferendis dolorum quo suscipit, autem
            voluptas voluptatibus recusandae ad! Cum, unde et.
          </p>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer"
            >Lorem, ipsum dolor.</a
          >
          <p class="s-r-short-dis">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Reprehenderit aspernatur beatae alias provident pariatur iusto
            quae vitae delectus, perferendis dolorum quo suscipit, autem
            voluptas voluptatibus recusandae ad! Cum, unde et.
          </p>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer"
            >Lorem, ipsum dolor.</a
          >
          <p class="s-r-short-dis">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Reprehenderit aspernatur beatae alias provident pariatur iusto
            quae vitae delectus, perferendis dolorum quo suscipit, autem
            voluptas voluptatibus recusandae ad! Cum, unde et.
          </p>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer"
            >Lorem, ipsum dolor.</a
          >
          <p class="s-r-short-dis">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Reprehenderit aspernatur beatae alias provident pariatur iusto
            quae vitae delectus, perferendis dolorum quo suscipit, autem
            voluptas voluptatibus recusandae ad! Cum, unde et.
          </p>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer"
            >Lorem, ipsum dolor.</a
          >
          <p class="s-r-short-dis">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Reprehenderit aspernatur beatae alias provident pariatur iusto
            quae vitae delectus, perferendis dolorum quo suscipit, autem
            voluptas voluptatibus recusandae ad! Cum, unde et.
          </p>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer"
            >Lorem, ipsum dolor.</a
          >
          <p class="s-r-short-dis">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Reprehenderit aspernatur beatae alias provident pariatur iusto
            quae vitae delectus, perferendis dolorum quo suscipit, autem
            voluptas voluptatibus recusandae ad! Cum, unde et.
          </p>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer"
            >Lorem, ipsum dolor.</a
          >
          <p class="s-r-short-dis">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Reprehenderit aspernatur beatae alias provident pariatur iusto
            quae vitae delectus, perferendis dolorum quo suscipit, autem
            voluptas voluptatibus recusandae ad! Cum, unde et.
          </p>
        </li>
      </ul>
    </div>
    <nav
      aria-label="..."
      class="d-flex align-items-lef justify-content-center"
    >
      <ul class="pagination pagination-circle">
        <li class="page-item">
          <a class="page-link">
            <i class="fas fa-circle-left"></i>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#"
            >2 <span class="visually-hidden">(current)</span></a
          >
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">
            <i class="fas fa-circle-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div id="datatable"></div>
<button type="button" class="cross-btn btn">
  <i class="fas fa-xmark"></i>
</button>
</div>