<nav
  class="nav-center c-main-nav navbar navbar-expand-lg navbar-light bg-light"
>
  <!-- Left elements -->
  <div class="d-flex c-left-nav">
    <!-- Brand -->
    <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="/">
      <img
        src="/src/img/SSLandscapeLogo.png"
        height="60"
        alt="Student Square | Unveiling Success"
        loading="lazy"
        style="margin-top: 2px"
      />
    </a>
  </div>

  <!-- Container wrapper -->
  <div class="container-fluid nav-center c-w-c">
    <button
      type="button"
      class="btn btn-link search-button"
      id="search-button"
      style=""
    >
      <i class="fas fa-magnifying-glass"></i>
    </button>

    <!-- Toggle button -->
    <button
      class="navbar-toggler px-0"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarExample3"
      aria-controls="navbarExample3"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarExample3">
      <!-- Center links -->
      <ul
        class="c-navbar-nav navbar-nav me-auto ps-lg-0"
        style="padding-left: 0.15rem"
      >
        <li class="nav-item">
          <a class="nav-link" href="/"> Home </a>
        </li>

        <li class="nav-item dropdown position-static">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            About Us
          </a>
          <!-- Dropdown menu -->
          <div
            class="dropdown-menu w-100 mt-0"
            aria-labelledby="navbarDropdown"
            style="border-top-left-radius: 0; border-top-right-radius: 0"
          >
            <div class="container">
              <div class="row my-4">
                <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                  <div class="list-group list-group-flush">
                    <a
                      href="/about"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>About Us</a
                    >
                    <a
                      href="/who-we-are"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Who We Are</a
                    >
                    <a
                      href="/our-mission"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Our Mission</a
                    >
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
                  <div class="list-group list-group-flush">
                    <a
                      href="/where-we-work"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Where We Work</a
                    >
                    <a
                      href="/press"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Press</a
                    >
                    <a
                      href="/archive"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Archive</a
                    >
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
                  <div class="list-group list-group-flush">
                    <a
                      href="/privacy-policy"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Privacy Policy</a
                    >
                    <a
                      href="/terms-of-use"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Terms Of Use</a
                    >
                    <a
                      href="/faqs"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>FAQs</a
                    >
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
                  <div class="list-group list-group-flush">
                    <a
                      href="/our-partners-donors"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Our Partners &
                      Donors</a
                    >
                    <a
                      href="/annual-reports-and-financials"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Annual Reports and
                      Financials</a
                    >
                    <a
                      href="/what-we-do"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>What We Do</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown position-static">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Parenting Advocacy
          </a>
          <!-- Dropdown menu -->
          <div
            class="dropdown-menu w-100 mt-0"
            aria-labelledby="navbarDropdown"
            style="border-top-left-radius: 0; border-top-right-radius: 0"
          >
            <div class="container">
              <div class="row my-4">
                <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                  <div class="list-group list-group-flush">
                    <a
                      href="/student-counselling"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Student
                      Counselling</a
                    >
                    <a
                      href="/parent-advocacy"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Parent Advocacy</a
                    >
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
                  <div class="list-group list-group-flush">
                    <a
                      href="/research-publications"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Research &
                      Publications</a
                    >
                    <a
                      href="/minor-community-wellbeing"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Minor Community
                      Wellbeing</a
                    >
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
                  <div class="list-group list-group-flush">
                    <a
                      href="/climate-action-and-environmental-awareness"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Climate Action and
                      Environmental Awareness</a
                    >
                    <a
                      href="/scholarship"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Scholarship</a
                    >
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
                  <div class="list-group list-group-flush">
                    <a
                      href="/student-convention"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Student
                      Convention</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item dropdown position-static">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Blog
          </a>
          <!-- Dropdown menu -->
          <div
            class="dropdown-menu w-100 mt-0"
            aria-labelledby="navbarDropdown"
            style="border-top-left-radius: 0; border-top-right-radius: 0"
          >
            <div class="container">
              <div class="row my-4">
                <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
                  <div class="list-group list-group-flush">
                    <a
                      href="/magazins"
                      class="mb-0 list-group-item text-uppercase font-weight-bold"
                    >
                      Magazine
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
                  <div class="list-group list-group-flush">
                    <p
                      class="mb-0 list-group-item text-uppercase font-weight-bold"
                    >
                      Education and Career Blog
                    </p>
                    <a
                      href="/blogs"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Blogs</a
                    >
                    <a
                      href="/parenting"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Parenting</a
                    >
                    <a
                      href="/self-development"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i
                      >Self-Development</a
                    >
                    <a
                      href="/higher-study"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Higher Study</a
                    >
                    <a
                      href="/scholarship-opportunities"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Scholarship
                      Opportunities</a
                    >
                    <a
                      href="/career"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Career</a
                    >
                    <a
                      href="/climate-crisis"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Climate Crisis</a
                    >
                    <a
                      href="/social-issues"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Social Issues</a
                    >
                    <a
                      href="/competitions"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Competitions</a
                    >
                    <a
                      href="/olympiad"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Olympiad</a
                    >
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
                  <div class="list-group list-group-flush">
                    <a
                      href="/real-life-stories"
                      class="mb-0 list-group-item text-uppercase font-weight-bold"
                    >
                      Real Life Stories
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard"> Dashboard</a>
        </li>
        <li class="nav-item dropdown position-static">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Get Involved
          </a>
          <!-- Dropdown menu -->
          <div
            class="dropdown-menu w-100 mt-0"
            aria-labelledby="navbarDropdown"
            style="border-top-left-radius: 0; border-top-right-radius: 0"
          >
            <div class="container">
              <div class="row my-4">
                <div class="col-md-6 col-lg-6 mb-3 mb-lg-0">
                  <div class="list-group list-group-flush">
                    <a
                      href="/magazines"
                      class="mb-0 list-group-item text-uppercase font-weight-bold"
                    >
                      Career
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 mb-3 mb-lg-0">
                  <div class="list-group list-group-flush">
                    <p
                      class="mb-0 list-group-item text-uppercase font-weight-bold"
                    >
                      Donate
                    </p>
                    <a
                      href="/fund"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Fund</a
                    >
                    <a
                      href="/educational-accessories"
                      class="list-group-item list-group-item-action"
                      ><i class="fas fa-caret-right pe-2"></i>Educational
                      Accessories</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact-us"> Contact Us </a>
        </li>
      </ul>
      <!-- Center links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>

  <!-- Right elements -->
  <ul class="navbar-nav flex-row c-right-nav">
    <li class="nav-item me-3 me-lg-1 c-left">
      <button
        type="button"
        class="btn btn-link search-button"
        id="search-button"
      >
        <i class="fas fa-magnifying-glass"></i>
      </button>
    </li>
    <li class="nav-item me-3 me-lg-1 c-left">
      <div class="btn-group shadow-0">
        <button
          type="button"
          class="btn btn-link dropdown-toggle"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          English
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">English</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Bangla</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Hindi</a>
          </li>
        </ul>
      </div>
    </li>

    <!-- hidden befor login  -->
    <li class="nav-item me-3 me-lg-1 c-right <%= user? '': 'hidden' %>">
      <div class="btn-group shadow-0">
        <button
          type="button"
          class="btn btn-link"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-circle-user fs-4 text-black"></i>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="/dashboard"
              ><i class="fas fa-chart-pie text-success"></i> Dashboard</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="/profile"
              ><i class="far fa-id-card text-success"></i> Profile</a
            >
          </li>
          <% if (user?.role === 'author') { %>
          <li>
            <a class="dropdown-item" href="/dashboard/blogs"
              ><i class="fas fa-blog text-success"></i> Blogs</a
            >
          </li>
          <% } %>
          <li>
            <a class="dropdown-item" href="#" id="logout-action"
              ><i class="fas fa-power-off text-danger"></i> Logout</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item me-3 me-lg-1 c-right">
      <div class="Rnav-btn-area">
        <a href="/login" class="btn <%= user? 'hidden': '' %>">
          <i class="fas fa-arrow-right-to-bracket"></i>
          Log In
        </a>
        <a href="#" class="btn btn-success"> Donate </a>
      </div>
    </li>
  </ul>
  <!-- Container wrapper -->
</nav>
