<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Blog - Student Square</title>
    <link
      rel="shortcut icon"
      href="/src/img/SSsiteIcon.png"
      type="image/x-icon"
    />
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
      rel="stylesheet"
    />

    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/src/css/main.css" />
    <link rel="stylesheet" href="/src/css/prev-blog-slider.css" />
  </head>
  <body>
    <!-- Start your project here-->
    <!-- Navbar-->
    <%- include('./partials/navbar.ejs') %>
    <!-- Navbar -->
    <!-- Main Content Start -->
    <div class="custom-container single-blog-page">
      <div class="s-b-main-page">
        <div class="bannar-section">
          <img
            src="https://blog.brac.net/wp-content/uploads/2023/07/NCD-banner.jpg"
            alt=""
            srcset=""
          />
          <div class="dis-sectio">
            <a href="#" class="tag"
              ><i class="fas fa-caret-left"></i> EQUALITY, HEALTH</a
            >
            <h1>
              Tackling non-communicable diseases with social capital and smart
              tech
            </h1>
          </div>
        </div>

        <div class="post-admin">
          <p class="post-details">
            <span class="date">JULY 25, 2023 BY </span>
            <span class="user-name">DR IMRAN AHMED CHOWDHURY</span>
          </p>
          <p class="reading-time">Reading Time: 4 minutes</p>

          <h2>
            Non-communicable diseases are responsible for 70% of deaths in
            Bangladesh. BRAC is partnering with the Government of Bangladesh to
            tackle this, through a combination of community health workers and
            technology.
          </h2>
        </div>

        <div class="content-section">
          <p>
            <span class="first-text">W</span>hat is the biggest killer of people
            globally? Perhaps war comes to mind, or famine, or natural
            disasters? <br />
            <br />

            The answer is much closer to home – the biggest killer globally is
            non-communicable diseases. <br />
            <br />

            Non-communicable diseases are diseases not transmitted between
            people or animals, meaning diseases such as blood pressure
            disorders, diabetes or asthma. <br />
            <br />

            One person dies of non-communicable diseases every two seconds
            around the world. Almost 9 out every 10 of these people are from low
            and middle-income countries. In Bangladesh, non-communicable
            diseases account for 70% of all deaths. Non-communicable diseases
            are often hard to see, and can take years to develop, resulting in
            them becoming a silent but rapidly worsening crisis in many
            Bangladeshi families. With many people in Bangladesh struggling to
            access basic healthcare services, non-communicable diseases also
            often result not only in people physically suffering, but can create
            a huge economic burden on families. <br />
            <br />

            More than half of Bangladesh’s population will be over 35 years old
            by 2030. With population growth rates continuing to decrease,
            Bangladesh’s population is ageing – a trend which will continue.
            This will worsen the issue of non-communicable diseases – the older
            people are, the more vulnerable they are. <br />
            <br />

            Bangladesh has been adapting its public health policy to tackle this
            crisis. The national healthcare system, which was heavily focused on
            tackling infectious diseases and maternal and child healthcare, is
            being transformed into an integrated primary healthcare system with
            strong outpatient care and community health components. <br />
            <br />

            As first steps, Bangladesh’s Directorate General of Health Services
            started a Non-communicable Disease Control Programme, and, in 2018,
            began establishing dedicated non-communicable disease corners in
            every Upazila Health Complex. BRAC has been supporting these efforts
            by functionalising these corners and digitising the data which comes
            out of them, to track prevalence and look for trends. <br />
            <br />
          </p>
          <div class="b-p-image">
            <img
              src="https://blog.brac.net/wp-content/uploads/2023/07/NCD-intxt1.jpg"
              alt=""
              srcset=""
            />
            <p>
              BRAC’s Community Health Workers going door-to-door to check
              community members’ blood pressures. © BRAC 2023
            </p>
            <br />
            <br />
          </div>

          <p>
            <strong>Social capital joining forces with technology</strong>
            <br />
            <br />

            Non-communicable diseases are unassuming killers. They take time to
            develop and their treatment regimes are generally not very invasive,
            which can give people a false sense of security – leading them not
            to take treatment seriously. <br />
            <br />

            While an act like taking tablets is incomparable to the seriousness
            of open surgery, for example, serious effort is needed when those
            tablets need to be taken at the same time every day for consecutive
            years. Fighting non-communicable diseases is a slow and steady game
            of monitoring symptoms, complying with treatment regimes and
            consistently following up. As these actions rely on the
            attentiveness of the person suffering from the disease, the success
            rates of treatment rises when people are supported. It works even
            better when the person supporting has social capital with the
            patient. <br />
            <br />

            The support needed is uncomplicated – encouraging a healthier
            lifestyle, ensuring medication is taken, and monitoring symptoms.
            These low-tech actions are exactly what BRAC’s brigade of community
            health workers do best, and they pride themselves on the social
            capital they have with their patients. A typical health worker is a
            familiar face in the community who visits the families in their
            community monthly, bringing affordable healthcare products, services
            and information to their doorsteps. They know families so well that
            they know babies before they’re even born. <br />
            <br />

            Now where does tech come in? To build on the work of community
            health workers, we wanted to be able to track the support being
            given by all of them, to look for trends – and ensure workers could
            access the right information on non-communicable diseases at
            critical moments. <br />
            <br />

            In 2016 we partnered with Medtronics to develop an app to do this.
            Preliminary results were promising—on average, 90% of both
            home-based and clinic-based patients showed clinical improvements,
            and 91% continued to follow treatment regimes. <br />
            <br />
          </p>
          <div class="b-p-image">
            <img
              src="https://blog.brac.net/wp-content/uploads/2023/07/NCD-intxt2.jpg"
              alt=""
              srcset=""
            />
            <p>
              By bringing diabetes testing to doorsteps, Community Health
              Workers are increasing awareness about non-communicable diseases
              and referring participants to local hospitals. © BRAC 2023
            </p>
            <br />
            <br />
          </div>

          <p>
            In (insert year) we started working towards a multi-year partnership
            with Bangladesh’s Ministry of Health and Family Welfare to expand
            access and improve outcomes for people with non-communicable
            diseases. The proposed public-private partnership will be based on a
            ‘Joint Care Model’ between Government of Bangladesh, BRAC and
            Medtronic Labs. The focus will be on equipping healthcare providers
            to manage a cohort of hypertensive or diabetic patients remotely,
            with an aim to improve patient outcomes, conserve valuable
            resources, and decrease the long-term cost of care. <br /><br />

            <strong>How will the partnership work?</strong>

            BRAC’s community health workers will go door-to-door to do the
            primary screening, ensuring a community-centred healthcare delivery
            model. They will measure blood pressure and sugar levels and record
            their details, and enter all the data through an app on a tab. If
            the patients’ health is flagged, they will be referred to their
            nearest community clinic. <br /><br />

            A Community Health Care Provider will screen the patients a second
            time at the community clinic, recording height, weight, blood
            pressure, blood sugar and any symptoms – and the app will produce a
            colour code. Green means risk-free, yellow is moderate risk and red
            is high risk. <br /><br />

            High risk patients will be referred to the closest Upazila Health
            Complex, where they will receive free management services and any
            required medications. Community Health Workers will close the loop
            by going to patients’ doorsteps to ensure they follow their
            treatment plan. <br /><br />

            In addition to improving individual patient outcomes, data collected
            will be used for public health trend analysis, research, and to
            inform policy recommendations. <br /><br />

            <strong>An additional focus on prevention</strong> <br /><br />

            In addition to the focus on curative care, as outlined above, there
            is an urgent need for increased efforts in prevention. BRAC is
            advocating for investment by the government in this, and, in
            parallel, providing health promotion services through community
            health workers. <br /><br />
          </p>

          <div class="warngin-text">
            <p>
              <i>
                BRAC Health programme caters to the healthcare needs of over 80
                million people across Bangladesh, through a combination of
                community-based and facility-based services. Its
                community-driven healthcare approach employs 50,000 community
                health workers and volunteers who deliver quality affordable
                care to populations living in the most deprived and vulnerable
                conditions. BRAC’s community health workers are all women, who
                deliver door-to-door primary and essential healthcare, and
                facilitate linkages with formal providers.
              </i>
            </p>
          </div>
          <p class="text-success footer-text">
            <strong>
              Dr Imran Ahmed Chowdhury is a Programme Coordinator at BRAC Health
              programme.</strong
            >
          </p>

          <div class="share-blog">
            <div class="social-share">
              <!-- Facebook -->
              <a
                class="btn btn-primary"
                style="background-color: #3b5998"
                href="#!"
                role="button"
                ><i class="fab fa-facebook-f"></i
              ></a>

              <!-- Twitter -->
              <a
                class="btn btn-primary"
                style="background-color: #55acee"
                href="#!"
                role="button"
                ><i class="fab fa-twitter"></i
              ></a>

              <!-- Instagram -->
              <a
                class="btn btn-primary"
                style="background-color: #ac2bac"
                href="#!"
                role="button"
                ><i class="fab fa-instagram"></i
              ></a>

              <!-- Linkedin -->
              <a
                class="btn btn-primary"
                style="background-color: #0082ca"
                href="#!"
                role="button"
                ><i class="fab fa-linkedin-in"></i
              ></a>

              <!-- Whatsapp -->
              <a
                class="btn btn-primary"
                style="background-color: #25d366"
                href="#!"
                role="button"
                ><i class="fab fa-whatsapp"></i
              ></a>
            </div>
          </div>

          <div class="comment-section my-4">
            <section style="background-color: #eee">
              <div class="container my-5 py-5">
                <div class="row d-flex justify-content-center">
                  <div class="col-md-12 col-lg-10 col-xl-8">
                    <div class="card">
                      <section>
                        <div class="container my-5 py-5 text-dark">
                          <div class="row d-flex justify-content-center">
                            <div>
                              <div class="d-flex flex-start mb-4">
                                <img
                                  class="rounded-circle shadow-1-strong me-3"
                                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
                                  alt="avatar"
                                  width="65"
                                  height="65"
                                />
                                <div class="card w-100">
                                  <div class="card-body p-4">
                                    <div class="">
                                      <h5>Johny Cash</h5>
                                      <p class="small">3 hours ago</p>
                                      <p>
                                        Cras sit amet nibh libero, in gravida
                                        nulla. Nulla vel metus scelerisque ante
                                        sollicitudin. Cras purus odio,
                                        vestibulum in vulputate at, tempus
                                        viverra turpis. Fusce condimentum nunc
                                        ac nisi vulputate fringilla. Donec
                                        lacinia congue felis in faucibus ras
                                        purus odio, vestibulum in vulputate at,
                                        tempus viverra turpis.
                                      </p>

                                      <div
                                        class="d-flex justify-content-between align-items-center"
                                      >
                                        <div class="d-flex align-items-center">
                                          <a href="#!" class="link-muted me-2"
                                            ><i
                                              class="fas fa-thumbs-up me-1"
                                            ></i
                                            >132</a
                                          >
                                          <a href="#!" class="link-muted"
                                            ><i
                                              class="fas fa-thumbs-down me-1"
                                            ></i
                                            >15</a
                                          >
                                        </div>
                                        <a href="#!" class="link-muted"
                                          ><i class="fas fa-reply me-1"></i>
                                          Reply</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="d-flex flex-start">
                                <img
                                  class="rounded-circle shadow-1-strong me-3"
                                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp"
                                  alt="avatar"
                                  width="65"
                                  height="65"
                                />
                                <div class="card w-100">
                                  <div class="card-body p-4">
                                    <div class="">
                                      <h5>Mindy Campbell</h5>
                                      <p class="small">5 hours ago</p>
                                      <p>
                                        Lorem ipsum dolor sit, amet consectetur
                                        adipisicing elit. Delectus cumque
                                        doloribus dolorum dolor repellat nemo
                                        animi at iure autem fuga cupiditate
                                        architecto ut quam provident neque,
                                        inventore nisi eos quas?
                                      </p>

                                      <div
                                        class="d-flex justify-content-between align-items-center"
                                      >
                                        <div class="d-flex align-items-center">
                                          <a href="#!" class="link-muted me-2"
                                            ><i
                                              class="fas fa-thumbs-up me-1"
                                            ></i
                                            >158</a
                                          >
                                          <a href="#!" class="link-muted"
                                            ><i
                                              class="fas fa-thumbs-down me-1"
                                            ></i
                                            >13</a
                                          >
                                        </div>
                                        <a href="#!" class="link-muted"
                                          ><i class="fas fa-reply me-1"></i>
                                          Reply</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                      <div
                        class="card-footer py-3 border-0"
                        style="background-color: #f8f9fa"
                      >
                        <div class="d-flex flex-start w-100">
                          <img
                            class="rounded-circle shadow-1-strong me-3"
                            src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp"
                            alt="avatar"
                            width="40"
                            height="40"
                          />
                          <div class="form-outline w-100">
                            <textarea
                              class="form-control"
                              id="textAreaExample"
                              rows="4"
                              style="background: #fff"
                            ></textarea>
                            <label class="form-label" for="textAreaExample"
                              >Message</label
                            >
                          </div>
                        </div>
                        <div class="float-end mt-2 pt-1 commnet-button">
                          <button
                            type="button"
                            class="btn btn-sm post-comment text-white bg-success"
                          >
                            Post comment
                          </button>
                          <button
                            type="button"
                            class="btn btn-sm bg-danger text-white"
                          >
                            Cancel
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="suggested-story-section">
            <div class="n-card-section">
              <div class="s-s-title">
                <h1>suggested stories</h1>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="each-card">
                    <div class="card">
                      <div
                        class="bg-image hover-overlay ripple"
                        data-mdb-ripple-color="light"
                      >
                        <img
                          src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                          class="img-fluid"
                        />
                        <a href="#!">
                          <div
                            class="mask"
                            style="background-color: #fbfbfb26"
                          ></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                        <div class="card-footer-scetion">
                          <p class="coun">Bangladesh</p>
                          <p class="days">
                            <i class="far fa-hourglass-half"></i>
                            15 Days
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="each-card">
                    <div class="card">
                      <div
                        class="bg-image hover-overlay ripple"
                        data-mdb-ripple-color="light"
                      >
                        <img
                          src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                          class="img-fluid"
                        />
                        <a href="#!">
                          <div
                            class="mask"
                            style="background-color: #fbfbfb26"
                          ></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                        <div class="card-footer-scetion">
                          <p class="coun">Bangladesh</p>
                          <p class="days">
                            <i class="far fa-hourglass-half"></i>
                            15 Days
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="each-card">
                    <div class="card">
                      <div
                        class="bg-image hover-overlay ripple"
                        data-mdb-ripple-color="light"
                      >
                        <img
                          src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                          class="img-fluid"
                        />
                        <a href="#!">
                          <div
                            class="mask"
                            style="background-color: #fbfbfb26"
                          ></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                        <div class="card-footer-scetion">
                          <p class="coun">Bangladesh</p>
                          <p class="days">
                            <i class="far fa-hourglass-half"></i>
                            15 Days
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="each-card">
                    <div class="card">
                      <div
                        class="bg-image hover-overlay ripple"
                        data-mdb-ripple-color="light"
                      >
                        <img
                          src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                          class="img-fluid"
                        />
                        <a href="#!">
                          <div
                            class="mask"
                            style="background-color: #fbfbfb26"
                          ></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                        <div class="card-footer-scetion">
                          <p class="coun">Bangladesh</p>
                          <p class="days">
                            <i class="far fa-hourglass-half"></i>
                            15 Days
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="each-card">
                    <div class="card">
                      <div
                        class="bg-image hover-overlay ripple"
                        data-mdb-ripple-color="light"
                      >
                        <img
                          src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                          class="img-fluid"
                        />
                        <a href="#!">
                          <div
                            class="mask"
                            style="background-color: #fbfbfb26"
                          ></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                        <div class="card-footer-scetion">
                          <p class="coun">Bangladesh</p>
                          <p class="days">
                            <i class="far fa-hourglass-half"></i>
                            15 Days
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="each-card">
                    <div class="card">
                      <div
                        class="bg-image hover-overlay ripple"
                        data-mdb-ripple-color="light"
                      >
                        <img
                          src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                          class="img-fluid"
                        />
                        <a href="#!">
                          <div
                            class="mask"
                            style="background-color: #fbfbfb26"
                          ></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                        <div class="card-footer-scetion">
                          <p class="coun">Bangladesh</p>
                          <p class="days">
                            <i class="far fa-hourglass-half"></i>
                            15 Days
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="each-card">
                    <div class="card">
                      <div
                        class="bg-image hover-overlay ripple"
                        data-mdb-ripple-color="light"
                      >
                        <img
                          src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                          class="img-fluid"
                        />
                        <a href="#!">
                          <div
                            class="mask"
                            style="background-color: #fbfbfb26"
                          ></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                        <div class="card-footer-scetion">
                          <p class="coun">Bangladesh</p>
                          <p class="days">
                            <i class="far fa-hourglass-half"></i>
                            15 Days
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="each-card">
                    <div class="card">
                      <div
                        class="bg-image hover-overlay ripple"
                        data-mdb-ripple-color="light"
                      >
                        <img
                          src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                          class="img-fluid"
                        />
                        <a href="#!">
                          <div
                            class="mask"
                            style="background-color: #fbfbfb26"
                          ></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                        <div class="card-footer-scetion">
                          <p class="coun">Bangladesh</p>
                          <p class="days">
                            <i class="far fa-hourglass-half"></i>
                            15 Days
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="each-card">
                    <div class="card">
                      <div
                        class="bg-image hover-overlay ripple"
                        data-mdb-ripple-color="light"
                      >
                        <img
                          src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                          class="img-fluid"
                        />
                        <a href="#!">
                          <div
                            class="mask"
                            style="background-color: #fbfbfb26"
                          ></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                        <div class="card-footer-scetion">
                          <p class="coun">Bangladesh</p>
                          <p class="days">
                            <i class="far fa-hourglass-half"></i>
                            15 Days
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="each-card">
                    <div class="card">
                      <div
                        class="bg-image hover-overlay ripple"
                        data-mdb-ripple-color="light"
                      >
                        <img
                          src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                          class="img-fluid"
                        />
                        <a href="#!">
                          <div
                            class="mask"
                            style="background-color: #fbfbfb26"
                          ></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                        <div class="card-footer-scetion">
                          <p class="coun">Bangladesh</p>
                          <p class="days">
                            <i class="far fa-hourglass-half"></i>
                            15 Days
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="each-card">
                    <div class="card">
                      <div
                        class="bg-image hover-overlay ripple"
                        data-mdb-ripple-color="light"
                      >
                        <img
                          src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                          class="img-fluid"
                        />
                        <a href="#!">
                          <div
                            class="mask"
                            style="background-color: #fbfbfb26"
                          ></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                        <div class="card-footer-scetion">
                          <p class="coun">Bangladesh</p>
                          <p class="days">
                            <i class="far fa-hourglass-half"></i>
                            15 Days
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="each-card">
                    <div class="card">
                      <div
                        class="bg-image hover-overlay ripple"
                        data-mdb-ripple-color="light"
                      >
                        <img
                          src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                          class="img-fluid"
                        />
                        <a href="#!">
                          <div
                            class="mask"
                            style="background-color: #fbfbfb26"
                          ></div>
                        </a>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                        <div class="card-footer-scetion">
                          <p class="coun">Bangladesh</p>
                          <p class="days">
                            <i class="far fa-hourglass-half"></i>
                            15 Days
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer  -->
    <%- include('./partials/footer.ejs') %>
    <!-- Main Content End  -->
    <!-- End your project here-->
    <!-- jQuery -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <!-- Bootstrap tooltips -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <!-- Bootstrap core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
    ></script>
    <!-- MDB core JavaScript -->
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
    ></script>

    <!-- Your custom scripts (optional) -->
    <script type="module" src="/src/js/main.js"></script>
  </body>
</html>
