<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Employee Name - Student Square</title>
    <link
      rel="shortcut icon"
      href="/src/img/SSsiteIcon.png"
      type="image/x-icon"
    />
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
      rel="stylesheet"
    />

    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/src/css/main.css" />
    <link rel="stylesheet" href="/src/css/prev-blog-slider.css" />
  </head>
  <body>
    <!-- Start your project here-->
    <!-- Navbar-->
    <%- include('./partials/navbar.ejs') %>
    <!-- Navbar -->

    <!-- Main Content Start -->

    <div class="custom-container employee-page">
      <div class="main-container row my-8">
        <div class="employee col-md-4">
          <div class="main-card">
            <img
              src="https://www.educatingthefuture.org/wp-content/uploads/brizy/imgs/adam-profile-min-180x180x0x0x180x180x1672271411.png"
              alt=""
              srcset=""
            />
            <h2>Mr Adam Hegedus</h2>
            <h4>Executive Director</h4>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro
              modi distinctio odit iusto, ipsum voluptatibus veniam quasi
              perspiciatis adipisci beatae, necessitatibus fugit molestiae
              mollitia. Maxime odit soluta itaque odio qui.
            </p>

            <div>
              <button type="button" class="btn btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>

              <button type="button" class="btn btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>

              <button type="button" class="btn btn-floating mx-1">
                <i class="fab fa-linkedin-in"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="about-employee col-md-8">
          <h3 class="mb-3">More about <strong>"Mr Adam Hegedus" !</strong></h3>
          <div>
            <div>
              <p><strong>About:</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                reprehenderit maiores tempore non itaque temporibus in! Incidunt
                in laborum, iusto corporis velit nemo! Tempore totam ullam
                accusantium repellendus quod necessitatibus?
              </p>
            </div>
            <div>
              <p><strong>About:</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                reprehenderit maiores tempore non itaque temporibus in! Incidunt
                in laborum, iusto corporis velit nemo! Tempore totam ullam
                accusantium repellendus quod necessitatibus?
              </p>
            </div>
            <div>
              <p><strong>About:</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                reprehenderit maiores tempore non itaque temporibus in! Incidunt
                in laborum, iusto corporis velit nemo! Tempore totam ullam
                accusantium repellendus quod necessitatibus?
              </p>
            </div>
            <div>
              <p><strong>About:</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                reprehenderit maiores tempore non itaque temporibus in! Incidunt
                in laborum, iusto corporis velit nemo! Tempore totam ullam
                accusantium repellendus quod necessitatibus?
              </p>
            </div>
            <div>
              <p><strong>About:</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                reprehenderit maiores tempore non itaque temporibus in! Incidunt
                in laborum, iusto corporis velit nemo! Tempore totam ullam
                accusantium repellendus quod necessitatibus?
              </p>
            </div>
            <div>
              <p><strong>About:</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                reprehenderit maiores tempore non itaque temporibus in! Incidunt
                in laborum, iusto corporis velit nemo! Tempore totam ullam
                accusantium repellendus quod necessitatibus?
              </p>
            </div>
            <div>
              <p><strong>About:</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                reprehenderit maiores tempore non itaque temporibus in! Incidunt
                in laborum, iusto corporis velit nemo! Tempore totam ullam
                accusantium repellendus quod necessitatibus?
              </p>
            </div>
            <div>
              <p><strong>About:</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                reprehenderit maiores tempore non itaque temporibus in! Incidunt
                in laborum, iusto corporis velit nemo! Tempore totam ullam
                accusantium repellendus quod necessitatibus?
              </p>
            </div>
            <div>
              <p><strong>About:</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                reprehenderit maiores tempore non itaque temporibus in! Incidunt
                in laborum, iusto corporis velit nemo! Tempore totam ullam
                accusantium repellendus quod necessitatibus?
              </p>
            </div>
            <div>
              <p><strong>About:</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                reprehenderit maiores tempore non itaque temporibus in! Incidunt
                in laborum, iusto corporis velit nemo! Tempore totam ullam
                accusantium repellendus quod necessitatibus?
              </p>
            </div>
            <div>
              <p><strong>About:</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                reprehenderit maiores tempore non itaque temporibus in! Incidunt
                in laborum, iusto corporis velit nemo! Tempore totam ullam
                accusantium repellendus quod necessitatibus?
              </p>
            </div>
            <div>
              <p><strong>About:</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                reprehenderit maiores tempore non itaque temporibus in! Incidunt
                in laborum, iusto corporis velit nemo! Tempore totam ullam
                accusantium repellendus quod necessitatibus?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer  -->
    <%- include('./partials/footer.ejs') %>
    <!-- Main Content End  -->

    <!-- End your project here-->
    <!-- jQuery -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <!-- Bootstrap tooltips -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <!-- Bootstrap core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
    ></script>
    <!-- MDB core JavaScript -->
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
    ></script>

    <!-- Your custom scripts (optional) -->
    <script type="module" src="/src/js/main.js"></script>
  </body>
</html>
