<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Student Square - Unveiling Success</title>
    <link
      rel="shortcut icon"
      href="/src/img/SSsiteIcon.png"
      type="image/x-icon"
    />
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
      rel="stylesheet"
    />

    <!-- Slick Slider  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
      integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- Glider  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.7.8/glider.min.css"
      integrity="sha512-YM6sLXVMZqkCspZoZeIPGXrhD9wxlxEF7MzniuvegURqrTGV2xTfqq1v9FJnczH+5OGFl5V78RgHZGaK34ylVg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/src/css/main.css" />
    <link rel="stylesheet" href="/src/css/prev-blog-slider.css" />
  </head>
  <body>
    <!-- Start your project here-->
    <!-- Navbar-->
     <%- include('./partials/navbar.ejs') %>

    <!-- Navbar -->

    <!-- Main Content Start -->
    <div class="custom-container container">
      <!-- Hero Section  -->
      <div class="main-hero-section">
        <div class="row">
          <div class="col-md-6">
            <a href="#" class="h-lef-sec">
              <img src="/src/img/h-big-pic.jpg" alt="" srcset="" />
              <h2>Unveiling success</h2>
            </a>
          </div>
          <div class="col-md-6">
            <div class="h-right-sec">
              <a href="#" class="h-r-top">
                <img src="/src/img/h-small-1.jpg" alt="" srcset="" />
                <h2>Student convention</h2>
              </a>
              <a href="#" class="h-r-bottom">
                <img src="/src/img/h-small-2.jpg" alt="" srcset="" />
                <h2>Group counselling</h2>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Section Two  -->
      <div class="section-two-main">
        <div class="section-two">
          <h1>Your change starts here</h1>
          <p>
            All you need is real time data and Real-Life Stories to shape your
            career
          </p>

          <div class="section-two-card1">
            <div class="row">
              <div class="col-md-4">
                <div class="each-card">
                  <img
                    src="/src/img/section-two/card-1.jpg"
                    alt=""
                    srcset=""
                  />
                  <h4>Blog</h4>
                </div>
              </div>
              <div class="col-md-4">
                <div class="each-card">
                  <img
                    src="/src/img/section-two/card-2.jpg"
                    alt=""
                    srcset=""
                  />
                  <h4>Magazine</h4>
                </div>
              </div>
              <div class="col-md-4">
                <div class="each-card">
                  <img
                    src="/src/img/section-two/card-3.jpg"
                    alt=""
                    srcset=""
                  />
                  <h4>Real-Life Stories</h4>
                </div>
              </div>
            </div>
          </div>

          <h3>Community of 5000+ students</h3>
          <div class="section-two-card2">
            <div class="row">
              <div class="col-md-3">
                <div class="each-card">
                  <img
                    src="/src/img/section-two/card-4.png"
                    alt=""
                    srcset=""
                  />
                  <h4>500+ Parents</h4>
                </div>
              </div>
              <div class="col-md-3">
                <div class="each-card">
                  <img
                    src="/src/img/section-two/card-5.png"
                    alt=""
                    srcset=""
                  />
                  <h4>30+ Institutes</h4>
                </div>
              </div>
              <div class="col-md-3">
                <div class="each-card">
                  <img
                    src="/src/img/section-two/card-6.png"
                    alt=""
                    srcset=""
                  />
                  <h4>2000+ Santal Communities</h4>
                </div>
              </div>
              <div class="col-md-3">
                <div class="each-card">
                  <img
                    src="/src/img/section-two/card-7.png"
                    alt=""
                    srcset=""
                  />
                  <h4>1000+ Alumni Network</h4>
                </div>
              </div>
            </div>
          </div>

          <h3>Our Free Classes</h3>
          <div class="section-two-card3">
            <iframe
              class="video-player"
              src="https://www.youtube.com/embed/Owkmkp7qYAE?si=1ZlCY6oxjm9CArSi"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>

      <!-- Section Three ****(Hidden)****  -->
      <div class="section-three-main hidden">
        <div class="section-three">
          <h1>Blog</h1>
          <div class="button-grupe hidden">
            <div class="main-btn">
              <button type="button" class="btn">Grade 8 to 9</button>
              <button type="button" class="btn">Grade 10 to 12</button>
              <button type="button" class="btn">
                Undergrade year 1<sup>st</sup> to 4<sup>th</sup>
              </button>
            </div>
          </div>
          <div class="hr-d"></div>
          <div class="blog-card-sec">
            <div class="row blog-card">
              <div class="col-md-3">
                <div class="each-card">
                  <img
                    class="thumb"
                    src="/src/img/s-3/Student-img.jpg"
                    alt=""
                    srcset=""
                  />
                  <p class="tag">Thinking</p>
                  <h5>
                    The Swedish philosophy of lagom: how "just enough" is all
                    you need.
                  </h5>
                  <p class="subtitle">Be more like Goldilockes.</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="each-card">
                  <img
                    class="thumb"
                    src="/src/img/s-3/Student-img.jpg"
                    alt=""
                    srcset=""
                  />
                  <p class="tag">Thinking</p>
                  <h5>
                    The Swedish philosophy of lagom: how "just enough" is all
                    you need.
                  </h5>
                  <p class="subtitle">Be more like Goldilockes.</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="each-card">
                  <img
                    class="thumb"
                    src="/src/img/s-3/Student-img.jpg"
                    alt=""
                    srcset=""
                  />
                  <p class="tag">Thinking</p>
                  <h5>
                    The Swedish philosophy of lagom: how "just enough" is all
                    you need.
                  </h5>
                  <p class="subtitle">Be more like Goldilockes.</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="each-card">
                  <img
                    class="thumb"
                    src="/src/img/s-3/Student-img.jpg"
                    alt=""
                    srcset=""
                  />
                  <p class="tag">Thinking</p>
                  <h5>
                    The Swedish philosophy of lagom: how "just enough" is all
                    you need.
                  </h5>
                  <p class="subtitle">Be more like Goldilockes.</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="each-card">
                  <img
                    class="thumb"
                    src="/src/img/s-3/Student-img.jpg"
                    alt=""
                    srcset=""
                  />
                  <p class="tag">Thinking</p>
                  <h5>
                    The Swedish philosophy of lagom: how "just enough" is all
                    you need.
                  </h5>
                  <p class="subtitle">Be more like Goldilockes.</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="each-card">
                  <img
                    class="thumb"
                    src="/src/img/s-3/Student-img.jpg"
                    alt=""
                    srcset=""
                  />
                  <p class="tag">Thinking</p>
                  <h5>
                    The Swedish philosophy of lagom: how "just enough" is all
                    you need.
                  </h5>
                  <p class="subtitle">Be more like Goldilockes.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Section Four ****(Hidden)**** -->
      <div class="section-four-main hidden">
        <div class="section-four">
          <h1>Magazine</h1>
          <div class="button-grupe">
            <div class="main-btn">
              <button type="button" class="btn">Year</button>
              <input type="date" name="" id="" value="2023" />
            </div>
          </div>

          <div class="hr-d"></div>

          <div class="maga-card">
            <div class="row">
              <div class="col-md-3">
                <a
                  href="/src/Brihonnola.pdf"
                  target="_blank"
                  class="each-card"
                >
                  <img src="/src/img/s-4/Magazine1.png" alt="" srcset="" />
                  <h5>January-March</h5>
                </a>
              </div>
              <div class="col-md-3">
                <a
                  href="/src/Brihonnola.pdf"
                  target="_blank"
                  class="each-card"
                >
                  <img src="/src/img/s-4/Magazine2.png" alt="" srcset="" />
                  <h5>April-June</h5>
                </a>
              </div>
              <div class="col-md-3">
                <a
                  href="/src/Brihonnola.pdf"
                  target="_blank"
                  class="each-card"
                >
                  <img src="/src/img/s-4/Magazine3.png" alt="" srcset="" />
                  <h5>July-August</h5>
                </a>
              </div>
              <div class="col-md-3">
                <a
                  href="/src/Brihonnola.pdf"
                  target="_blank"
                  class="each-card"
                >
                  <img src="/src/img/s-4/Magazine4.png" alt="" srcset="" />
                  <h5>September-December</h5>
                </a>
              </div>
            </div>
          </div>

          <div class="button-ex">
            <button type="button" class="btn">Explore other issues</button>
          </div>
        </div>
      </div>

      <!-- Section Five ****(Hidden)****  -->
      <div class="section-five-main hidden">
        <div class="section-five">
          <h1>Counselling</h1>
          <div class="button-grupe">
            <div class="main-btn">
              <button type="button" class="btn">Grade 8 to 9</button>
              <button type="button" class="btn">Grade 10 to 12</button>
              <button type="button" class="btn">
                Undergrade year 1<sup>st</sup> to 4<sup>th</sup>
              </button>
            </div>
          </div>

          <div class="hr-d"></div>

          <div class="section-two-card">
            <div class="row">
              <div class="col-md-4">
                <div class="each-card">
                  <img
                    src="/src/img/section-two/card-1.jpg"
                    alt=""
                    srcset=""
                  />
                  <h4>Real-Life Stories</h4>
                </div>
              </div>
              <div class="col-md-4">
                <div class="each-card">
                  <img
                    src="/src/img/section-two/card-2.jpg"
                    alt=""
                    srcset=""
                  />
                  <h4>Family Advocacy</h4>
                </div>
              </div>
              <div class="col-md-4">
                <div class="each-card">
                  <img
                    src="/src/img/section-two/card-3.jpg"
                    alt=""
                    srcset=""
                  />
                  <h4>Group Counselling</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="button-ex">
            <button type="button" class="btn">Book your session</button>
          </div>
        </div>
      </div>

      <!-- Section Six  -->
      <div class="section-six-main">
        <div class="section-six">
          <h1>Hundreds of inspiring students and counting</h1>

          <div class="ins-card">
            <div class="row ins-slider">
              <div class="col-md-3">
                <div class="each-card">
                  <img src="/src/img/s-6/Student-img.jpg" alt="" srcset="" />
                  <h5>Anay</h5>
                  <p class="dis">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eveniet odit quo recusandae consequuntur molestiae libero
                    ullam quasi eligendi omnis cupiditate quis, quam blanditiis
                    incidunt exercitationem iusto magni optio voluptatum
                    ducimus.
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="each-card">
                  <img src="/src/img/s-6/Student-img.jpg" alt="" srcset="" />
                  <h5>Anay</h5>
                  <p class="dis">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eveniet odit quo recusandae consequuntur molestiae libero
                    ullam quasi eligendi omnis cupiditate quis, quam blanditiis
                    incidunt exercitationem iusto magni optio voluptatum
                    ducimus.
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="each-card">
                  <img src="/src/img/s-6/Student-img.jpg" alt="" srcset="" />
                  <h5>Anay</h5>
                  <p class="dis">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eveniet odit quo recusandae consequuntur molestiae libero
                    ullam quasi eligendi omnis cupiditate quis, quam blanditiis
                    incidunt exercitationem iusto magni optio voluptatum
                    ducimus.
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="each-card">
                  <img src="/src/img/s-6/Student-img.jpg" alt="" srcset="" />
                  <h5>Anay</h5>
                  <p class="dis">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eveniet odit quo recusandae consequuntur molestiae libero
                    ullam quasi eligendi omnis cupiditate quis, quam blanditiis
                    incidunt exercitationem iusto magni optio voluptatum
                    ducimus.
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="each-card">
                  <img src="/src/img/s-6/Student-img.jpg" alt="" srcset="" />
                  <h5>Anay</h5>
                  <p class="dis">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eveniet odit quo recusandae consequuntur molestiae libero
                    ullam quasi eligendi omnis cupiditate quis, quam blanditiis
                    incidunt exercitationem iusto magni optio voluptatum
                    ducimus.
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="each-card">
                  <img src="/src/img/s-6/Student-img.jpg" alt="" srcset="" />
                  <h5>Anay</h5>
                  <p class="dis">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eveniet odit quo recusandae consequuntur molestiae libero
                    ullam quasi eligendi omnis cupiditate quis, quam blanditiis
                    incidunt exercitationem iusto magni optio voluptatum
                    ducimus.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Section Seven  -->
      <div class="section-seven-main">
        <div class="section-seven desk-sec">
          <img src="/src/img/s-7/background.png" alt="" srcset="" />

          <div class="s-7-content">
            <div class="main-c">
              <div class="s-7-slider">
                <div class="main-slider">
                  <div class="row">
                    <div class="col-md-6">
                      <img src="/src/img/h-big-pic.jpg" alt="" srcset="" />
                    </div>
                    <div class="col-md-6 title-section">
                      <h3>Enhancing skills with the power of counselling.</h3>
                      <div class="button-ex">
                        <button type="button" class="btn">
                          Book your session
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="main-slider">
                  <div class="row">
                    <div class="col-md-6">
                      <img src="/src/img/h-big-pic.jpg" alt="" srcset="" />
                    </div>
                    <div class="col-md-6 title-section">
                      <h3>Enhancing skills with the power of counselling.</h3>
                      <div class="button-ex">
                        <button type="button" class="btn">
                          Book your session
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="main-slider">
                  <div class="row">
                    <div class="col-md-6">
                      <img src="/src/img/h-big-pic.jpg" alt="" srcset="" />
                    </div>
                    <div class="col-md-6 title-section">
                      <h3>Enhancing skills with the power of counselling.</h3>
                      <div class="button-ex">
                        <button type="button" class="btn">
                          Book your session
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="main-slider">
                  <div class="row">
                    <div class="col-md-6">
                      <img src="/src/img/h-big-pic.jpg" alt="" srcset="" />
                    </div>
                    <div class="col-md-6 title-section">
                      <h3>Enhancing skills with the power of counselling.</h3>
                      <div class="button-ex">
                        <button type="button" class="btn">
                          Book your session
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section-seven mob-sec">
          <swiper-container
            class="mySwiper"
            pagination="true"
            pagination-dynamic-bullets="true"
          >
            <swiper-slide>
              <div class="c-w-logo-slider">
                <img
                  src="/src/img/SSPortraitLogo.png"
                  class="logo"
                  alt=""
                  srcset=""
                />
                <h2>Counselling for All</h2>
                <p class="title">
                  Lorem ipsum dolor sit amet Lorem, ipsum dolor..
                </p>
                <img
                  class="thumb"
                  src="/src/img/s-3/Student-img.jpg"
                  alt=""
                  srcset=""
                />
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="c-w-logo-slider">
                <img
                  src="/src/img/SSPortraitLogo.png"
                  class="logo"
                  alt=""
                  srcset=""
                />
                <h2>Counselling for All</h2>
                <p class="title">
                  Lorem ipsum dolor sit amet Lorem, ipsum dolor..
                </p>
                <img
                  class="thumb"
                  src="/src/img/s-3/Student-img.jpg"
                  alt=""
                  srcset=""
                />
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="c-w-logo-slider">
                <img
                  src="/src/img/SSPortraitLogo.png"
                  class="logo"
                  alt=""
                  srcset=""
                />
                <h2>Counselling for All</h2>
                <p class="title">
                  Lorem ipsum dolor sit amet Lorem, ipsum dolor..
                </p>
                <img
                  class="thumb"
                  src="/src/img/s-3/Student-img.jpg"
                  alt=""
                  srcset=""
                />
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="c-w-logo-slider">
                <img
                  src="/src/img/SSPortraitLogo.png"
                  class="logo"
                  alt=""
                  srcset=""
                />
                <h2>Counselling for All</h2>
                <p class="title">
                  Lorem ipsum dolor sit amet Lorem, ipsum dolor..
                </p>
                <img
                  class="thumb"
                  src="/src/img/s-3/Student-img.jpg"
                  alt=""
                  srcset=""
                />
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="c-w-logo-slider">
                <img
                  src="/src/img/SSPortraitLogo.png"
                  class="logo"
                  alt=""
                  srcset=""
                />
                <h2>Counselling for All</h2>
                <p class="title">
                  Lorem ipsum dolor sit amet Lorem, ipsum dolor..
                </p>
                <img
                  class="thumb"
                  src="/src/img/s-3/Student-img.jpg"
                  alt=""
                  srcset=""
                />
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="c-w-logo-slider">
                <img
                  src="/src/img/SSPortraitLogo.png"
                  class="logo"
                  alt=""
                  srcset=""
                />
                <h2>Counselling for All</h2>
                <p class="title">
                  Lorem ipsum dolor sit amet Lorem, ipsum dolor..
                </p>
                <img
                  class="thumb"
                  src="/src/img/s-3/Student-img.jpg"
                  alt=""
                  srcset=""
                />
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="c-w-logo-slider">
                <img
                  src="/src/img/SSPortraitLogo.png"
                  class="logo"
                  alt=""
                  srcset=""
                />
                <h2>Counselling for All</h2>
                <p class="title">
                  Lorem ipsum dolor sit amet Lorem, ipsum dolor..
                </p>
                <img
                  class="thumb"
                  src="/src/img/s-3/Student-img.jpg"
                  alt=""
                  srcset=""
                />
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="c-w-logo-slider">
                <img
                  src="/src/img/SSPortraitLogo.png"
                  class="logo"
                  alt=""
                  srcset=""
                />
                <h2>Counselling for All</h2>
                <p class="title">
                  Lorem ipsum dolor sit amet Lorem, ipsum dolor..
                </p>
                <img
                  class="thumb"
                  src="/src/img/s-3/Student-img.jpg"
                  alt=""
                  srcset=""
                />
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="c-w-logo-slider">
                <img
                  src="/src/img/SSPortraitLogo.png"
                  class="logo"
                  alt=""
                  srcset=""
                />
                <h2>Counselling for All</h2>
                <p class="title">
                  Lorem ipsum dolor sit amet Lorem, ipsum dolor..
                </p>
                <img
                  class="thumb"
                  src="/src/img/s-3/Student-img.jpg"
                  alt=""
                  srcset=""
                />
              </div>
            </swiper-slide>
          </swiper-container>

          <div class="button-ex">
            <button type="button" class="btn">Book your session</button>
          </div>
        </div>
      </div>

      <!-- Section Eight  -->
      <div class="section-eight-main">
        <div class="section-eight">
          <div class="row">
            <div class="col-md-6 a-p-s-left">
              <div class="main-left-sec">
                <h1>Shape your career confidently</h1>
                <p>Available on all platforms</p>
                <img src="/src/img/s-8/availavlePF.png" alt="" srcset="" />

                <div class="app-section">
                  <div class="row">
                    <a
                      href="#"
                      class="col-md-6"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <img
                        src="/src/img/s-8/getGooglePlay.png"
                        alt=""
                        srcset=""
                      />
                    </a>
                    <a
                      href="#"
                      class="col-md-6"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <img
                        src="/src/img/s-8/getAppStore.png"
                        alt=""
                        srcset=""
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 a-p-s-right">
              <img src="/src/img/s-8/mobile.png" alt="" srcset="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Section Nine ****(Hidden)****  -->
    <div class="section-nine-main hidden">
      <div class="section-nine">
        <h1>Previous Blogs</h1>
        <div class="slider-nine">
          <div class="" id="slider-2">
            <h2>Editor’s pick</h2>

            <div class="gallery-slider">
              <div class="micro-slider">
                <div class="slider-item s1" data-href="#" data-target="_blank">
                  <img src="/src/img/s-9/1.jpg" alt="" srcset="" />
                </div>
                <div class="slider-item s2" data-href="#" data-target="_blank">
                  <img src="/src/img/s-9/2.jpg" alt="" srcset="" />
                </div>
                <div class="slider-item s3" data-href="#" data-target="_blank">
                  <img src="/src/img/s-9/3.jpg" alt="" srcset="" />
                </div>
                <div class="slider-item s4" data-href="#" data-target="_blank">
                  <img src="/src/img/s-9/1.jpg" alt="" srcset="" />
                </div>
                <div class="slider-item s5" data-href="#" data-target="_blank">
                  <img src="/src/img/s-9/2.jpg" alt="" srcset="" />
                </div>
                <div class="slider-item s6" data-href="#" data-target="_blank">
                  <img src="/src/img/s-9/1.jpg" alt="" srcset="" />
                </div>
              </div>
            </div>
            <p>
              Student counseling is a process that involves providing guidance,
              support, and assistance to students in various aspects of their
              lives.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Section Ten  -->
    <div class="section-ten-main">
      <div class="section-ten">
        <h4>Student Square in the news</h4>

        <div class="news-slider">
          <div class="main-n-slider">
            <div class="main-slider">
              <img src="/src/img/s-10/1.jpg " alt="" srcset="" />
              <div class="dis">
                <img
                  src="/src/img/s-10/cnn-logo-png-cnn-international-logo-png-cnn-logo-png-image-with-transparent-840x859-removebg-preview.png"
                  alt=""
                  srcset=""
                />
                <p class="newsTitle">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Obcaecati voluptas
                </p>
                <p class="subtitle">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Repudiandae laborum, mollitia blanditiis ipsa commodi...
                </p>
              </div>
            </div>
            <div class="main-slider">
              <img src="/src/img/s-10/1.jpg " alt="" srcset="" />
              <div class="dis">
                <img
                  src="/src/img/s-10/cnn-logo-png-cnn-international-logo-png-cnn-logo-png-image-with-transparent-840x859-removebg-preview.png"
                  alt=""
                  srcset=""
                />
                <p class="newsTitle">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Obcaecati voluptas
                </p>
                <p class="subtitle">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Repudiandae laborum, mollitia blanditiis ipsa commodi...
                </p>
              </div>
            </div>
            <div class="main-slider">
              <img src="/src/img/s-10/1.jpg " alt="" srcset="" />
              <div class="dis">
                <img
                  src="/src/img/s-10/cnn-logo-png-cnn-international-logo-png-cnn-logo-png-image-with-transparent-840x859-removebg-preview.png"
                  alt=""
                  srcset=""
                />
                <p class="newsTitle">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Obcaecati voluptas
                </p>
                <p class="subtitle">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Repudiandae laborum, mollitia blanditiis ipsa commodi...
                </p>
              </div>
            </div>
          </div>

          <div class="subSlider">
            <div class="row sub-news-slider">
              <div class="col-md-4">
                <div class="slider-main-s">
                  <img
                    class="logo"
                    src="/src/img/s-10/cnn-logo-png-cnn-international-logo-png-cnn-logo-png-image-with-transparent-840x859-removebg-preview.png"
                    alt=""
                    srcset=""
                  />
                  <img
                    class="thumb"
                    src="/src/img/s-10/1.jpg"
                    alt=""
                    srcset=""
                  />
                  <p class="news-title">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptates, quos!
                  </p>
                  <p class="subTitle">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Praesentium a neque earum facere veniam libero delectus,
                    quasi in rem ab, quis eos explicabo minima velit illum
                    dolores cupiditate nam dolor!
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="slider-main-s">
                  <img
                    class="logo"
                    src="/src/img/s-10/cnn-logo-png-cnn-international-logo-png-cnn-logo-png-image-with-transparent-840x859-removebg-preview.png"
                    alt=""
                    srcset=""
                  />
                  <img
                    class="thumb"
                    src="/src/img/s-10/1.jpg"
                    alt=""
                    srcset=""
                  />
                  <p class="news-title">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptates, quos!
                  </p>
                  <p class="subTitle">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Praesentium a neque earum facere veniam libero delectus,
                    quasi in rem ab, quis eos explicabo minima velit illum
                    dolores cupiditate nam dolor!
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="slider-main-s">
                  <img
                    class="logo"
                    src="/src/img/s-10/cnn-logo-png-cnn-international-logo-png-cnn-logo-png-image-with-transparent-840x859-removebg-preview.png"
                    alt=""
                    srcset=""
                  />
                  <img
                    class="thumb"
                    src="/src/img/s-10/1.jpg"
                    alt=""
                    srcset=""
                  />
                  <p class="news-title">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptates, quos!
                  </p>
                  <p class="subTitle">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Praesentium a neque earum facere veniam libero delectus,
                    quasi in rem ab, quis eos explicabo minima velit illum
                    dolores cupiditate nam dolor!
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="slider-main-s">
                  <img
                    class="logo"
                    src="/src/img/s-10/cnn-logo-png-cnn-international-logo-png-cnn-logo-png-image-with-transparent-840x859-removebg-preview.png"
                    alt=""
                    srcset=""
                  />
                  <img
                    class="thumb"
                    src="/src/img/s-10/1.jpg"
                    alt=""
                    srcset=""
                  />
                  <p class="news-title">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptates, quos!
                  </p>
                  <p class="subTitle">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Praesentium a neque earum facere veniam libero delectus,
                    quasi in rem ab, quis eos explicabo minima velit illum
                    dolores cupiditate nam dolor!
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="slider-main-s">
                  <img
                    class="logo"
                    src="/src/img/s-10/cnn-logo-png-cnn-international-logo-png-cnn-logo-png-image-with-transparent-840x859-removebg-preview.png"
                    alt=""
                    srcset=""
                  />
                  <img
                    class="thumb"
                    src="/src/img/s-10/1.jpg"
                    alt=""
                    srcset=""
                  />
                  <p class="news-title">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptates, quos!
                  </p>
                  <p class="subTitle">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Praesentium a neque earum facere veniam libero delectus,
                    quasi in rem ab, quis eos explicabo minima velit illum
                    dolores cupiditate nam dolor!
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="slider-main-s">
                  <img
                    class="logo"
                    src="/src/img/s-10/cnn-logo-png-cnn-international-logo-png-cnn-logo-png-image-with-transparent-840x859-removebg-preview.png"
                    alt=""
                    srcset=""
                  />
                  <img
                    class="thumb"
                    src="/src/img/s-10/1.jpg"
                    alt=""
                    srcset=""
                  />
                  <p class="news-title">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptates, quos!
                  </p>
                  <p class="subTitle">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Praesentium a neque earum facere veniam libero delectus,
                    quasi in rem ab, quis eos explicabo minima velit illum
                    dolores cupiditate nam dolor!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section-ten-two">
        <img src="/src/img/SSPortraitLogo.png" alt="" srcset="" />
        <h3>Our Pertners</h3>
        <div class="partner-box">
          <div class="row">
            <div class="col-md-3">
              <div class="p-main-box"></div>
            </div>
            <div class="col-md-3">
              <div class="p-main-box"></div>
            </div>
            <div class="col-md-3">
              <div class="p-main-box"></div>
            </div>
            <div class="col-md-3">
              <div class="p-main-box"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer  -->
     <%- include('./partials/footer.ejs') %>
    <!-- Main Content End  -->

    <!-- End your project here-->
    <!-- jQuery -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <!-- Bootstrap tooltips -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <!-- Bootstrap core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
    ></script>
    <!-- MDB core JavaScript -->
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
    ></script>

    <!-- Slick Slider  -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
      integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- Micro Slider   -->
    <script src="https://cdn.jsdelivr.net/npm/micro-slider@1.0.9/dist/micro-slider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>

    <!-- Swiper Slider  -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>

    <!-- Your custom scripts (optional) -->
    <script type="module" src="/src/js/main.js"></script>

    <!-- Slider  -->
    <script src="/src/js/blog-card-slider.js"></script>
    <script src="/src/js/inspiring.js"></script>
    <script src="/src/js/footer-slider.js"></script>
    <script src="/src/js/prev-blog-slider.js"></script>
    <script src="/src/js/news-slider.js"></script>
  </body>
</html>
