<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
    <link
      rel="shortcut icon"
      href="/src/img/SSsiteIcon.png"
      type="image/x-icon"
    />
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
      rel="stylesheet"
    />

    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/src/css/main.css" />
  </head>
  <body>
    <div
      class="d-flex flex-column justify-content-center align-items-center"
      style="height: 100vh"
    >
      <a href="/">
        <img
          src="/src/img/SSLandscapeLogo.png"
          alt="Student Square"
          srcset=""
          width="100"
          style="width: 300px; margin-bottom: 1rem"
        />
      </a>
      <h1 class="text-center text-danger fs-1">
        <strong class="text-center">404 - Page Not Found</strong>
      </h1>
      <p class="text-black text-center"><strong><%= message %></strong></p>
      <a href="/" class="text-success text-center">Go to Homepage</a>
    </div>
  </body>
</html>
