<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms of Use - Student Square</title>
    <link
      rel="shortcut icon"
      href="/src/img/SSsiteIcon.png"
      type="image/x-icon"
    />
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
      rel="stylesheet"
    />

    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/src/css/main.css" />
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 20px;
        padding: 0;
      }
      h1 {
        color: #333;
      }
      p {
        margin-bottom: 10px;
      }
      ul {
        list-style-type: disc;
        padding-left: 20px;
      }
      li {
        margin-bottom: 5px;
      }
      .section-title {
        font-weight: bold;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <div class="container my-5">
      <h1>Terms of Use</h1>
      <p>
        Student Square is committed to ensuring that this website/organization
        is as useful and efficient as possible. The terms apply in full force
        and effect to your use of this website, you expressly accept all terms
        and conditions contained here in full.
      </p>

      <p>
        The use of the Website is available only to those individuals who can
        enter into legally binding contracts under applicable law. Additionally,
        you cannot access or use the Website if you are barred from receiving
        the Website under any applicable law or have previously been barred from
        using the Website. The Website is intended to be made available
        globally. If you are a minor or a child in the jurisdiction you are
        accessing the Website from, you may use the Website with the prior
        consent and agreement of a parent or a legal guardian. By using the
        Website you agree and acknowledge that:
      </p>

      <ul>
        <li>
          You will use any or all of the Website provided by the Organization
          only for the purposes that are permitted by and are in accordance with
          (a) the User Terms, and (b) applicable law, and not for any fraudulent
          purposes or with a view to cause nuisance, annoyance or inconvenience;
        </li>
        <li>
          Any and all of your communications with the Organization, for any
          reason or purpose whatsoever, may be recorded by the Organization for
          evidentiary, quality and/or training purposes;
        </li>
        <li>
          You are solely responsible for any breach of the User Terms and for
          the consequences resulting from such breach (including any loss,
          damage or expense suffered or incurred by the Organization or its
          affiliates/business partners/vendors).
        </li>
      </ul>

      <p class="section-title">
        As mandated by the Information Technology (Intermediaries Guidelines)
        Rules, 2011, and to the extent it is applicable to the User Terms, the
        Organization hereby informs you that you are not permitted to host,
        display, upload, send, modify, publish, transmit, update or share any
        information that:
      </p>

      <ul>
        <li>
          Belongs to another person and to which you do not have any right;
        </li>
        <li>
          Is harmful, harassing, blasphemous, defamatory, obscene, pornographic,
          pedophilic, libelous, invasive of another’s privacy, hateful, racial,
          ethnically objectionable, disparaging, abusive, relating to or
          encouraging money laundering or gambling, or otherwise unlawful in any
          manner whatsoever;
        </li>
        <li>Harms minors in any way;</li>
        <li>
          Infringes any patent, trademark, copyright or other proprietary rights
          or will be in breach of your confidentiality obligations with a third
          party;
        </li>
        <li>Violates any law for the time being in force;</li>
        <li>
          Deceives or misleads the addressee about the origin of such messages
          or communicates any information which is grossly offensive or menacing
          in nature;
        </li>
        <li>Impersonates or defames another person;</li>
        <li>
          Contains software viruses, trojans, worms, spywares, time bombs,
          cancelbots, ‘spiders’, ‘offline readers’, or any other computer code,
          files or programs designed to damage, disable, overburden, impair,
          interrupt, destroy or limit the functionality of any computer
          resource;
        </li>
        <li>
          Threatens the unity, integrity, defense, security or sovereignty of
          the country you reside in, friendly relations with foreign states, or
          public order or causes incitement to the commission of any cognizable
          offence or prevents investigation of any offence or is insulting to
          any other nation.
        </li>
      </ul>

      <p class="section-title">You are also prohibited from:</p>

      <ul>
        <li>
          Violating or attempting to violate the integrity or security of the
          Website;
        </li>
        <li>
          Transmitting any information on or through the Website that is
          disruptive to Organization;
        </li>
        <li>
          Intentionally submitting on the Website any incomplete, false or
          inaccurate information;
        </li>
        <li>
          Making any unsolicited communications to other Users of the Website;
        </li>
        <li>
          Attempting to decipher, decompile, disassemble or reverse engineer any
          part of the Website;
        </li>
        <li>
          Copying or duplicating in any manner any of the information available
          on the Website;
        </li>
        <li>
          Creating derivative works from, transferring, or selling any
          information or software available as part of the Website;
        </li>
        <li>
          Framing or hotlinking or deep linking any contents from the Website;
        </li>
        <li>
          Accessing or tampering with the non-public areas of the Website and
          the Organization’s computer systems, or the technical delivery systems
          of its providers;
        </li>
        <li>
          Testing the vulnerability of the Website or breaching any security or
          authentication measures implemented by the Organization;
        </li>
        <li>
          Accessing the Website through the use of any mechanism other than
          through the Website;
        </li>
        <li>
          Selling access to, advertising or placing promotions on the Website,
          in any form or manner whatsoever.
        </li>
      </ul>

      <h1 class="mt-4 mb-4">General Conditions</h1>

      <p>
        We do not own, sell, resell, furnish, provide, prepare, manage and/or
        control any third party service provider or the goods or services
        provided by such service provider.
      </p>

      <p>
        We may subcontract any part or parts of the Website that we provide to
        you from time to time and we may assign or novate any part or parts of
        our rights under the User Terms without your consent or any requirement
        to notify.
      </p>

      <p>
        No delay or failure on our part to enforce our rights or remedies under
        the User Terms shall constitute a waiver on our part of such rights or
        remedies unless such waiver is confirmed in writing.
      </p>

      <p>
        The rule of construction, if any, that a contract should be interpreted
        against the parties responsible for the drafting and preparation thereof
        shall not apply.
      </p>

      <p>
        All dealings, correspondence and contacts between you and the
        Organization shall be made or conducted in the English language.
      </p>

      <h2 class="mt-4 mb-4">Complaints</h2>

      <p>
        We are committed to providing an excellent user experience. Therefore,
        we attend to User complaints with diligence. We aim to respond to your
        complaints within a reasonable period, in any event no later than the
        time period prescribed by applicable law.
      </p>

      <p>
        All complaints and feedback should be addressed to the following email
        address:
        <a href="mailto:studentsquarebd@gmail.com">studentsquarebd@gmail.com</a>
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>

    <!-- jQuery -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <!-- Bootstrap tooltips -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <!-- Bootstrap core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
    ></script>
    <!-- MDB core JavaScript -->
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
    ></script>
  </body>
</html>
